<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Scraped Data -->
    <div class="row" id="mars-listings">
      <div class="col-md-12">
        <h2>{{mars_data.latest_news}}</h2>
          <p>{{mars_data.latest_summary}}</p>
          <img src = {{mars_data.featured_image}} style='height: 400px; width: 400px' >
        <h2>Mars Facts Table</h2> 
          <link rel="import" href={{mars_data.Mars_facts_table}}>
        <h2>Mars Hemispheres</h2>
          <!-- {% for img_url in mars_data.Mars_hemispheres_images.img_url %} -->
          
          <img src = {{mars_data.Mars_hemispheres_images}} style='height: 400px; width: 400px' >
          <!-- {% endfor %} -->
      </div>
    </div>

  </div>

</body>

</html>

